@import url(https://fonts.googleapis.com/css?family=Syncopate);
@import url(https://fonts.googleapis.com/css?family=Spinnaker);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #035773;
	color: #fff;
	font-family: Helvetica, Sans-Serif;
}
nav {
	position: fixed;
	float: left;
	width: 200px;
	height: 100%;
	text-align: right;
	text-transform: uppercase;
	z-index: 1000;
}
.section-green {
	background-color: #529FB9;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.nav-sidebar {
	font-size: 12px;
	font-weight: 600;
	/*margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	margin-top: 0;*/
}
ul {
	/*display: block;*/
}
.section-green .nav-sidebar li {	
	border-bottom: 1px solid #2686A6;/*#2686A6;*/
}
/*.nav-sidebar li {
	position: relative;
	display: block;
}*/
.nav-sidebar li a {
	padding: 18px;
	/*position: relative;*/
	display: block;
}
.nav-sidebar a {
	color: inherit;
}
a {
	color: inherit;
	text-decoration: none;
	background: 0 0;
	cursor: auto;
}
#content {
	position: relative;
	padding-left: 200px;
	height: 100%;
}
#profile {
	position: relative;
	padding: 60px;
	width: 100%;
	height: 100%;
}
.top-menu {
	padding-bottom: 70px;
	margin-bottom: 50px;
}
.profile-title {
	position: absolute;
	top: 50%;
	color: #fff;
}
.profile-title h1 {
	font-family: 'Syncopate', sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.profile-title p {
	font-family: 'Spinnaker', sans-serif;
	font-size: 20px;
}
.bottom-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 50px 50px;
	padding-top: 55px;
	/*margin-top: 50px;*/
	font-size: 12px;
	font-weight: 500;
}
.nav-info {
	/*padding-left: 0;
	list-style: none;*/
	margin-left: 5px;
}
.nav-info li {
	margin-right: 15px;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
hr {
	width: 400px;
}
