*{margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #7BBFCF;
	color: #007DA1;
	font-family: Helvetica, Sans-Serif;
}
header {
	background:#fff;
}
nav {
	float:right;
	margin:1em 2em 1em 2em;
}
nav ul {
	list-style-type:none;
}
nav li {
	float:left;
}
nav a {
	color:#007da1;
	text-decoration:none;
}
section {
	margin:300px auto 0 auto;
	width:40em;
}
h1 {
	text-transform: uppercase;
	font-size: 3em;
	float:left;
	margin-left:.5em;
}
#slogan {
	font-style: italic;
}
hr {
	width: 400px;
}
p {
	margin:1em 0 1em 0;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
